---
import PurpleButton from "@components/common/PurpleButton.astro";
import { projectSeed } from "src/utils/projectSeed";
import type { ProjectProp } from "src/utils/types";
import ProjectCard from "./ProjectCard.astro";

const { title } = Astro.props;
---

<section class="mb-auto">
  <div class="py-40">
    <h1 class="text-2xl sm:text-4xl text-white text-center">
      {title[0]}
      <span class="text-fgreen font-extrabold">{title[1]}</span>
    </h1>

    <div
      class="p-10 sm:p-24 lg:p-24 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-10"
    >
      {
        projectSeed.map((project: ProjectProp) => (
          <ProjectCard
            title={project.title}
            image={project.image}
            description={project.description}
          >
            {project.buttons.map((button) => (
              <PurpleButton link={button.link} button={button} />
            ))}
          </ProjectCard>
        ))
      }
    </div>
  </div>
</section>
