---
import PurpleButton from "../common/PurpleButton.astro";
import ProjectCard from "./ProjectCard.astro";
import type { ProjectProp } from "src/utils/types";

import { projectSeed } from "../../utils/projectSeed";
import { FaGithub } from "react-icons/fa6";
import { SiGoogleplay } from "react-icons/si";
---

{
  projectSeed.map((project: ProjectProp) => (
    <ProjectCard
      title={project.title}
      image={project.image}
      description={project.description}
    >
      {project.buttons.map((button) => (
        <PurpleButton link={button.link} slot="project-buttons">
          {button.icon === FaGithub ? (
            <FaGithub color="white" size={21} />
          ) : (
            <SiGoogleplay color="white" size={21} />
          )}
          <div class="hidden sm:block">
            <h2 class="text-white ps-1">{button.title}</h2>
          </div>
        </PurpleButton>
      ))}
    </ProjectCard>
  ))
}
