---
import FloatingTools from "@components/common/floating-tools/FloatingTools.astro";
import { Picture } from "astro:assets";

const { title, description, coverImage, techStack } = Astro.props;
---

<div class="flex flex-col items-center">
  <Picture
    src={coverImage}
    alt={title}
    formats={["webp", "png"]}
    fallbackFormat="png"
    class="h-64 rounded-lg object-cover object-left opacity-90 shadow-lg"
  />
  <div class="relative -mt-5 w-full px-5 lg:-mt-16 lg:px-10">
    <div
      class="group bg-fpurple/5 shadow-fpurple-box border-fpurple flex max-h-52 flex-col justify-start gap-4 rounded-lg border-2 p-3 shadow-lg backdrop-blur-lg transition-transform duration-150 ease-in-out hover:scale-105 sm:p-6 hover:lg:scale-110 2xl:h-52"
    >
      <FloatingTools techStack={techStack} />

      <h2
        class="text-fgreen text-center text-sm leading-tight font-semibold uppercase sm:text-xl"
      >
        {title}
      </h2>

      <div
        class="truncate font-mono text-sm leading-tight tracking-tight text-pretty text-white"
      >
        <p
          class="line-clamp-3 text-center break-normal hyphens-auto 2xl:text-left"
        >
          {description}
        </p>
      </div>

      <div class="mt-auto flex justify-center gap-3 sm:py-0">
        <slot />
      </div>
    </div>
  </div>
</div>
