---
import ToolCard from "./ToolCard.astro";

import {
  SiDocker,
  SiAndroidstudio,
  SiSonarqube,
  SiIntellijidea,
  SiVisualstudiocode,
  SiPostman,
  SiLinux,
  SiUnity,
  SiTeamcity,
} from "react-icons/si/index.js";
import { FaGitAlt, FaGithub } from "react-icons/fa/index.js";
---

<div class="flex flex-wrap justify-center gap-5 p-10 lg:px-44 xl:px-52">
  <ToolCard
    title="Android Studio"
    icon={SiAndroidstudio}
    alt="Android Studio"
  />
  <ToolCard title="IntelliJ Idea" icon={SiIntellijidea} alt="Intellijidea" />
  <ToolCard title="Team City" icon={SiTeamcity} alt="Team city" />
  <ToolCard
    title="Vs Code"
    icon={SiVisualstudiocode}
    alt="Visual Studio code"
  />
  <ToolCard title="Git" icon={FaGitAlt} alt="Git" />
  <ToolCard title="Github" icon={FaGithub} alt="Github" />
  <ToolCard title="Docker" icon={SiDocker} alt="Docker" />
  <ToolCard title="Postman" icon={SiPostman} alt="Postman" />
  <ToolCard title="Linux" icon={SiLinux} alt="Linux" />
  <ToolCard title="Unity" icon={SiUnity} alt="Unity" />
  <ToolCard title="Sonarqube" icon={SiSonarqube} alt="Sonarqube" />
</div>
