---
import ToolCard from "./ToolCard.astro";

import {
  SiKotlin,
  SiCsharp,
  SiJavascript,
  SiAndroid,
  SiTypescript,
  SiSpringboot,
  SiNextdotjs,
  SiAdonisjs,
  SiAstro,
} from "react-icons/si";
import { FaJava, FaPhp } from "react-icons/fa";
---

<div class="flex flex-wrap justify-center gap-5 p-10 lg:px-44 xl:px-52">
  <ToolCard title="Android" icon={SiAndroid} alt="Android" />
  <ToolCard title="Kotlin" icon={SiKotlin} alt="Koltin" />
  <ToolCard title="Java" icon={FaJava} alt="Java" />
  <ToolCard title="Php" icon={FaPhp} alt="Php" />
  <ToolCard title="C#" icon={SiCsharp} alt="Csharp" />
  <ToolCard title="Javascript" icon={SiJavascript} alt="Javascript" />
  <ToolCard title="Typescript" icon={SiTypescript} alt="Typescript" />
  <ToolCard title="Spring Boot" icon={SiSpringboot} alt="Springboot" />
  <ToolCard title="Next Js" icon={SiNextdotjs} alt="Nextdotjs" />
  <ToolCard title="Adonis Js" icon={SiAdonisjs} alt="Adonisjs" />
  <ToolCard title="Astro" icon={SiAstro} alt="Astro Build" />
</div>
