---
import type { ProjectButton, ProjectProp } from "src/utils/types";
import ClientCard from "./ClientCard.astro";
import PurpleButton from "@components/common/PurpleButton.astro";

const { title, clients, lang } = Astro.props;
---

<section class="mb-auto">
  <div class="py-40">
    <h1 class="text-center text-2xl font-medium text-white sm:text-4xl">
      {title[0]}
      <span class="text-fgreen font-medium">{title[1]}</span>
    </h1>

    <div
      class="grid grid-cols-1 gap-10 p-10 sm:p-24 lg:grid-cols-2 lg:p-24 2xl:grid-cols-3"
    >
      {
        clients.map((client: ProjectProp) => {
          const title = lang === "es" ? client.nameEs : client.nameEn;
          const description =
            lang === "es" ? client.descriptionEs : client.descriptionEn;

          return (
            <ClientCard
              title={title}
              description={description}
              coverImage={client.coverImage}
              techStack={client.techStack}
            >
              {client.buttonLinks.map((button: ProjectButton) => (
                <PurpleButton
                  title={button.title}
                  link={button.link}
                  icon={button.icon}
                />
              ))}
            </ClientCard>
          );
        })
      }
    </div>
  </div>
</section>
