---
import type { ClientProp } from "src/utils/types";
import ClientCard from "./ClientCard.astro";
import PurpleButton from "@components/common/PurpleButton.astro";

const { title, clients } = Astro.props;
---

<section class="mb-auto">
  <div class="py-40">
    <h1 class="text-2xl sm:text-4xl text-white text-center font-medium">
      {title[0]}
      <span class="text-fgreen font-medium">{title[1]}</span>
    </h1>

    <div
      class="p-10 sm:p-24 lg:p-24 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-10"
    >
      {
        clients.map((client: ClientProp) => (
          <ClientCard
            title={client.title}
            description={client.description}
            coverImage={client.image}
            techStack={client.techStack}
          >
            {client.buttons.map((button) => (
              <PurpleButton
                title={button.title}
                link={button.link}
                icon={button.icon}
              />
            ))}
          </ClientCard>
        ))
      }
    </div>
  </div>
</section>
