---
import { FaGithub } from "react-icons/fa6/index.js";
import { ImFacebook, ImLinkedin2 } from "react-icons/im/index.js";
import { SiGoogleplay, SiInstagram } from "react-icons/si/index.js";
import SocialLink from "./SocialLink.astro";

---

<section>
	<div class="py-14">
	  <h1 class="text-4xl dark:text-white text-center">
		Mis <span class="text-fgreen font-extrabold">Redes</span>
	  </h1>

	  <p class="text-center dark:text-white py-3">
		Siéntase libre de <span class="text-fgreen">conectarse</span>
		 conmigo
	  </p>

	  <div class="flex justify-center items-center py-8 gap-6">
		<SocialLink
		  icon={FaGithub}
		  link="https://github.com/figonzal1"
		/>

		<SocialLink
		  icon={SiGoogleplay}
		  link="https://play.google.com/store/apps/dev?id=4650587366054768148"
		/>

		<SocialLink
		  icon={SiInstagram}
		  link="https://www.instagram.com/figonzal.cl"
		/>

		<SocialLink
		  icon={ImFacebook}
		  link="https://facebook.com/figonzal1"
		/>

		<SocialLink
		  icon={ImLinkedin2}
		  link="https://facebook.com/figonzal1"
		/>
	  </div>
	</div>
  </section>