---
import {
  SiKotlin,
  SiDocker,
  SiCsharp,
  SiJavascript,
  SiAndroid,
  SiAndroidstudio,
  SiTypescript,
  SiSonarqube,
  SiIntellijidea,
  SiVisualstudiocode,
  SiPostman,
  SiLinux,
  SiUnity,
  SiTeamcity,
  SiSpringboot,
  SiNextdotjs,
  SiAdonisjs,
} from "react-icons/si";
import { DiGit, DiJava, DiPhp, DiGithubFull } from "react-icons/di";
import Github from "./Github";
import ToolCard from "./ToolCard.astro";
---

<section>
  <!-- FRAMEWORKS -->
  <div class="pt-56">
    <h1 class="text-4xl dark:text-white text-center">
      Mis <span class="text-fgreen font-extrabold">Lenguajes & Frameworks</span>
    </h1>

    <div class="flex flex-wrap justify-center gap-5 pt-10 px-64">
      <ToolCard icon={SiAndroid} alt="Android" />
      <ToolCard icon={SiKotlin} alt="" />
      <ToolCard icon={DiJava} />
      <ToolCard icon={DiPhp} />
      <ToolCard icon={SiCsharp} />
      <ToolCard icon={SiJavascript} />
      <ToolCard icon={SiTypescript} />
      <ToolCard icon={SiSpringboot} />
      <ToolCard icon={SiNextdotjs} />
      <ToolCard icon={SiAdonisjs} />
    </div>
  </div>

  <!-- TOOLS -->
  <div class="pt-24">
    <h1 class="text-4xl dark:text-white text-center">
      Mis dev <span class="text-fgreen font-extrabold">Tools</span>
    </h1>

    <div class="flex flex-wrap justify-center gap-5 pt-10 px-64">
      <ToolCard icon={SiAndroidstudio} alt="Android Studio" />
      <ToolCard icon={SiIntellijidea} />
      <ToolCard icon={SiTeamcity} />
      <ToolCard icon={SiVisualstudiocode} />
      <ToolCard icon={DiGit} />
      <ToolCard icon={DiGithubFull} />
      <ToolCard icon={SiDocker} />
      <ToolCard icon={SiPostman} />
      <ToolCard icon={SiLinux} />
      <ToolCard icon={SiUnity} />
      <ToolCard icon={SiSonarqube} />
    </div>
  </div>

  <!-- GITHUB SECTION -->
  <div class="flex flex-col justify-center items-center py-24 gap-5">
    <h1 class="text-4xl dark:text-white text-center">
      Días <span class="text-fgreen font-extrabold">Codeando</span>
    </h1>
    <Github client:visible />
  </div>
</section>
