---
import { Tooltips } from "astro-tooltips";

const title = "figonzal.cl | Portafolio";
const description = "Sitio profesional de felipe gonzález - figonzal.cl";
const ogImage = "/og.png";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content={description} />
  <meta name="generator" content={Astro.generator} />

  <title>{title}</title>

  <!-- Facebook Meta Tags -->
  <meta property="fb:app_id" content="740961793640508" />
  <meta property="og:url" content="https://www.figonzal.cl" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={ogImage} />
  <meta property="og:site_name" content="figonzal.cl" />

  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={ogImage} />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@_figonzal" />

  <Tooltips interactive={false} placement={"bottom"} />

  <!-- Google tag (gtag.js) -->
  <script
    is:inline
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-FD9MPPVMLL"></script>
  <script is:inline type="text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-FD9MPPVMLL");
  </script>
</head>
