---
import Navbar from "@components/common/Navbar";
import Footer from "@components/common/Footer.astro";

const title = "figonzal.cl | Portafolio";
const description = "Sitio profesional de felipe gonzález - figonzal.cl";
const ogImage = "og.png";
---

<html lang="es">
  <head>
    <!-- Google Tag Manager -->
    <script type="application/javascript">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KM8NPVWM");
    </script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Sitio profesional de felipe gonzález - figonzal.cl"
    />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <!-- Facebook Meta Tags -->
    <meta property="fb:app_id" content="740961793640508" />
    <meta property="og:url" content="https://www.figonzal.cl" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:site_name" content="figonzal.cl" />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@_figonzal" />

    <link rel="stylesheet" href="tailwind.css">
  </head>
  <body
    class="flex flex-col min-h-screen bg-black bg-gradient-to-br from-fgreen/20 to-fpurple/40 antialiased w-full"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KM8NPVWM"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Navbar client:load />
    <slot />
    <Footer />
  </body>
</html>
